@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
  padding: 0;
  margin: 0;

  font-size: x-large;
  font-family: 'Silkscreen', cursive;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  width: 700px; /* TODO: Use dynamic value */
  height: 100%;
  margin: auto;
}

.game-dash-container {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 12px;
  justify-content: flex-end;
}

.game-dash-instructions-container {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 12px;
}

.game-canvas-container {
  margin-top: 24px;
}
